In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\oneta\Downloads\new-york-city-airbnb-open-data\AB_NYC_2019.csv')
df.shape

(48895, 16)

In [2]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [4]:
test = [{'label': i, 'value': i} for i in df['neighbourhood_group'].unique()]
test

[{'label': 'Brooklyn', 'value': 'Brooklyn'},
 {'label': 'Manhattan', 'value': 'Manhattan'},
 {'label': 'Queens', 'value': 'Queens'},
 {'label': 'Staten Island', 'value': 'Staten Island'},
 {'label': 'Bronx', 'value': 'Bronx'}]

In [5]:
[{'label': i, 'value': i} for i in df['room_type'].unique()]

[{'label': 'Private room', 'value': 'Private room'},
 {'label': 'Entire home/apt', 'value': 'Entire home/apt'},
 {'label': 'Shared room', 'value': 'Shared room'}]

In [6]:
df['room_type'].value_counts()

Entire home/apt    25409
Private room       22326
Shared room         1160
Name: room_type, dtype: int64

In [12]:
df['neighbourhood'].value_counts()[:10].index.tolist()

['Williamsburg',
 'Bedford-Stuyvesant',
 'Harlem',
 'Bushwick',
 'Upper West Side',
 "Hell's Kitchen",
 'East Village',
 'Upper East Side',
 'Crown Heights',
 'Midtown']

In [13]:
df['neighbourhood'].value_counts()[:10].tolist()

[3920, 3714, 2658, 2465, 1971, 1958, 1853, 1798, 1564, 1545]

In [15]:
import plotly.graph_objects as go
fig = go.Figure(go.Bar(
        x=df['neighbourhood'].value_counts().sort_index()[:10].tolist(),
        y=df['neighbourhood'].value_counts().sort_index()[:10].index.tolist(),
        orientation='h',
        marker={'color': df['neighbourhood'].value_counts()[:10].tolist(),
                'colorscale': 'Viridis'}))

fig.show

ModuleNotFoundError: No module named 'plotly'